<div class="">
    <h1 class="">ember-pikaday</h1>
    <p>
        An ember component that integrates <a href="https://github.com/dbushell/Pikaday">Pikaday</a> and <a href="http://momentjs.com/">Moment.js</a>
        <br><br>
        <a href="https://github.com/Frozenfire92/ember-pikaday">Source</a>&nbsp;
        <a href="https://github.com/Frozenfire92/ember-pikaday/issues">Issues</a>
    </p>

    <div>
        Choose a date
        {{pik-a-day date=dat value=stringDate options=pikadayOptions}}

        <br /><br />
        Watch it update<br>
        <strong>dat:</strong> {{dat}}<br>
        <strong>stringDate:</strong> {{stringDate}}

        <pre>
    Usage: \{{pik-a-day date=dat value=stringDate}}
        </pre>
    </div>

    <div>
        Choose a date, constraint by today &amp; being later than the first date
        {{pik-a-day date=dat2 value=stringDate2 minDate=dat}}
    </div>

</div>
